:host {
  display: block;
  padding: 0 32px 0;
}

.cards-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  max-width: 1200px;
  gap: 50px;
}
