<div class="list-container">
    <div class="toolbar">
        <div class="search-container">
            <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
            </svg>

            <input class="pesquisar" type="text" placeholder="Pesquise">
        </div>
        <button class="filter-button" aria-label="Filtrar projetos">
            <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 -960 960 960" width="50"><path d="M440-160q-17 0-28.5-11.5T400-200v-240L168-736q-15-20-4.5-42t36.5-22h560q26 0 36.5 22t-4.5 42L560-440v240q0 17-11.5 28.5T520-160h-80Z"/></svg>
        </button>
        <button class="new-project-button" (click)="openModal()">
            <span>Novo Projeto</span>
            <span class="plus-icon">+</span>
        </button>
    </div>

    <div *ngIf="projects.length === 0" class="empty-state">
        <img src="assets/empty.svg" alt="Nenhum projeto" class="empty-image" />
        <p class="empty-message">Sem projetos no momento</p>
    </div>

    <div class="project-grid">
        <app-project-card
                *ngFor="let project of projects"
                [projectData]="project"
                (click)="openViewModal(project)"
                style="cursor: pointer;">
        </app-project-card>
    </div>
</div>