@import '../assets/colors.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landing-container {
  background-color: $verde-escuro;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  background: $branco;
  width: 80%;
  max-width: 1450px;
  padding: 120px 100px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 45px;
  margin: 40px 0;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  margin-top: 0;

  h1 {
    font-size: clamp(32px, 4vw, 48px);
    font-weight: 900;
    margin-bottom: 10px;
    font-family: 'Inria Serif', serif;
    line-height: 1.2;
  }

  .descricao {
    font-size: 18px;
    margin-top: 65px;
    margin-bottom: 0px;
    max-width: 450px;
    font-family: 'Inria Serif', serif;
  }

  .btn-primary {
    background: linear-gradient(90deg, #3062f4, #5a78ff);
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: $amarelo;
    transition: 0.2s;
    margin-top: 150px;

    &:hover {
      opacity: 0.9;
    }
  }
}

.right {
  flex: 1;
  position: relative;
  text-align: center;
  margin-top: -20px;
}

.notebook {
  width: 400px;
  display: block;
  margin-left: 200px;
  z-index: 1;
}


.avatars {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;

  img {
    width: 55px;
    height: 55px;
    border-radius: 50%;

    &:nth-child(1) { margin-top: 10px; }
    &:nth-child(2) { margin-top: 0; }
    &:nth-child(3) { margin-top: 18px; }
  }
}


.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;

  .icon-pencil {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;

    li {
      font-family: 'Inria Serif', serif;
      font-size: 24px;
      font-weight: 700;
      color: #333;
      line-height: 1.3;
    }
  }
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;
    text-align: center;
  }

  .left, .right {
    text-align: center;
  }

  .tags {
    justify-content: center;
  }
}
