<div class="landing-container">
    <div class="card">

        <div class="left">
            <h1>
                Organize seus estudos com IA e aprenda junto com<br />
                quem também quer evoluir.
            </h1>

            <p class="descricao">
                A NeoLearnIA cria cronogramas personalizados e conecta você a outros estudantes para compartilhar
                conhecimento e motivação.
            </p>

            <button routerLink="/login" class="btn-primary">
                Começar seu estudo inteligente
            </button>
        </div>

        <div class="right">

            <img src="assets/landing/laptop.png" alt="Notebook IA" class="notebook" />

            <div class="avatars">
                <img src="assets/landing/avatar1.png" alt="Avatar 1" />
                <img src="assets/landing/avatar2.png" alt="Avatar 2" />
                <img src="assets/landing/avatar3.png" alt="Avatar 3" />
            </div>

            <div class="tags">
                <img src="assets/landing/caneta.png" alt="Ícone caneta" class="icon-pencil" />
                <ul>
                    <li>+ Concursos</li>
                    <li>+ Enem</li>
                    <li>+ Editais</li>
                </ul>
            </div>

        </div>
    </div>
</div>
