@import '../../../../assets/colors';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:host {
  font-family: 'Inter', sans-serif;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .55);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.modal {
  position: relative;
  background: $branco;
  border-radius: 12px;
  width: 1160px;
  padding: 28px 32px 60px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .35);
}

.close {
  position: absolute;
  right: 28px;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;

  i {
    font-size: 32px;
    color: $preto; // ou a cor que quiser
  }
}


.project-title {
  font-weight: 800;
  font-size: 40px;
  color: $verde-escuro;
  width: 575px;
  height: 40px;
  margin: 0 0 18px;
}

.content {
  display: flex;
  gap: 32px;
}

.left-panel {
  background: #D2E8E3;
  width: 560px;
  height: 428px;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.docs-title {
  color: $verde-escuro;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 8px;
}

.documents-grid {
  display: grid;
  grid-template-columns: repeat(3, 147px);
  grid-auto-rows: 86px;
  gap: 20px;
}

.doc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.doc-icon {
  width: 34px;
  height: 34px;
  margin-bottom: 6px;
}

.doc-name {
  font-size: 12px;
  font-weight: 700;
  color: $verde-escuro;
}

.doc-type {
  font-size: 12px;
  color: $verde-escuro;
}

.download-all {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: $preto;
  width: 176px;
  height: 44px;
  background: rgba($verde-escuro, 0.5);
  border-radius: 12px;
  border: none;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  i {
    font-size: 20px;
  }
}

.right-panel {
  flex: 1;
  color: $preto;
  padding-top: 6px;
}

.description {
  margin: 0 0 12px;
}

.meta {
  font-size: 13px;
  margin: 0 0 18px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-label {
  font-size: 14px;
  color: $verde-escuro;
}

.author-name {
  font-weight: 700;
}

.add-project {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: $preto;
  width: 176px;
  height: 44px;
  background: rgba($verde-escuro, 0.5);
  border-radius: 12px;
  border: none;
  gap: 8px;
  position: absolute;
  right: 28px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 20px;
  }
}
