<header class="app-header">
    <div class="container-logo-options">
        <div class="logo">
            <img src="assets/logo.png" alt="Logo" />
        </div>

        <nav class="actions">
            <a class="link-menu">{{ userName }}</a>

            <a routerLink="/usuario" class="icon-link">
                <i class="fa-solid fa-user"></i>
            </a>

            <a (click)="onLogout()" class="icon-link logout-btn" title="Sair do Sistema">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </nav>
    </div>

    <div class="carousel">        
        <div class="slides-container">
            <div 
                class="slide" 
                *ngFor="let slide of slides; let i = index"
                [class.active]="i === currentSlide"
                [style.backgroundImage]="'url(' + slide.url + ')'">
                <div class="slide-content" *ngIf="slide.title">
                    <h2>{{ slide.title }}</h2>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        <button class="nav-btn prev" (click)="prevSlide()">&#10094;</button>
        <button class="nav-btn next" (click)="nextSlide()">&#10095;</button>
        <div class="carousel-dots">
            <span 
                *ngFor="let slide of slides; let i = index" 
                class="dot" 
                [class.active]="i === currentSlide"
                (click)="goToSlide(i)">
            </span>
        </div>
    </div>

    <div class="container-menu">
        <a routerLink="/inicio" routerLinkActive="active" class="link-menu">INÍCIO</a>
        <a routerLink="/biblioteca" routerLinkActive="active" class="link-menu">BIBLIOTECA</a>
        <a routerLink="/meus-projetos" routerLinkActive="active" class="link-menu">MEUS PROJETOS</a>
        <a routerLink="/schedule" routerLinkActive="active" class="link-menu">CRONOGRAMA</a>
    </div>

</header>