@import '../../../../../assets/colors';

.sort-box {
  width: 220px;
  background: #fff;
  padding: 8px 0;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,.25);
  display: flex;
  flex-direction: column;
}

.sort-item {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 16px;
  cursor: pointer;
}

.sort-item:hover {
  background: $verde-claro;
}

.sort-item.selected {
  background: $branco;
}
