<div class="sort-box">
    <div class="sort-item" (click)="select('az')">
        Ordem alfabética: A–Z
    </div>

    <div class="sort-item" (click)="select('za')">
        Ordem alfabética: Z–A
    </div>

    <div class="sort-item" (click)="select('newest')">
        Data de criação: mais recente
    </div>

    <div class="sort-item" (click)="select('oldest')">
        Data de criação: mais antiga
    </div>

    <div class="sort-item" (click)="select('most-popular')">
        Mais popular
    </div>

    <div class="sort-item" (click)="select('least-popular')">
        Menos popular
    </div>
</div>
