@import '../../../../assets/colors';

.card {
  width: 300px;
  height: 180px;
  background-color: #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  flex: 1;
  background-color: #d9d9d9;
}

.card-footer {
  height: 50px;
  background-color: #d4ee96;
}