@use 'colors' as *;

.app-footer {
  width: 100%;
  height: auto;
  background: $verde-escuro;
  margin-top: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;

  .footer-content {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: $branco;
  }
}
